In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
raw_data = pd.read_csv('ifood.csv')

In [3]:
raw_data.info

<bound method DataFrame.info of        Income  Kidhome  Teenhome  Recency  MntWines  MntFruits  \
0     58138.0        0         0       58       635         88
1     46344.0        1         1       38        11          1
2     71613.0        0         0       26       426         49
3     26646.0        1         0       26        11          4
4     58293.0        1         0       94       173         43
...       ...      ...       ...      ...       ...        ...
2200  61223.0        0         1       46       709         43
2201  64014.0        2         1       56       406          0
2202  56981.0        0         0       91       908         48
2203  69245.0        0         1        8       428         30
2204  52869.0        1         1       40        84          3

      MntMeatProducts  MntFishProducts  MntSweetProducts  MntGoldProds  ...  \
0                 546              172                88            88  ...
1                   6                2                 1             6  ...
2                 127              111                21            42  ...
3                  20               10                 3             5  ...
4                 118               46                27            15  ...
...               ...              ...               ...           ...  ...
2200              182               42               118           247  ...
2201               30                0                 0             8  ...
2202              217               32                12            24  ...
2203              214               80                30            61  ...
2204               61                2                 1            21  ...

      marital_Together  marital_Widow  education_2n Cycle  education_Basic  \
0                    0              0                   0                0
1                    0              0                   0                0
2                    1              0                   0                0
3                    1              0                   0                0
4                    0              0                   0                0
...                ...            ...                 ...              ...
2200                 0              0                   0                0
2201                 1              0                   0                0
2202                 0              0                   0                0
2203                 1              0                   0                0
2204                 0              0                   0                0

      education_Graduation  education_Master  education_PhD  MntTotal  \
0                        1                 0              0      1529
1                        1                 0              0        21
2                        1                 0              0       734
3                        1                 0              0        48
4                        0                 0              1       407
...                    ...               ...            ...       ...
2200                     1                 0              0      1094
2201                     0                 0              1       436
2202                     1                 0              0      1217
2203                     0                 1              0       782
2204                     0                 0              1       151

      MntRegularProds  AcceptedCmpOverall
0                1441                   0
1                  15                   0
2                 692                   0
3                  43                   0
4                 392                   0
...               ...                 ...
2200              847                   0
2201              428                   1
2202             1193                   1
2203              721                   0
2204              130                   0

[2205 rows x 39 columns]>